<main>
    {{#if room}}
        <h1>EDIT {{room.name}}</h1>
        <form action="/rooms/{{room._id}}/edit" method="POST">
            <label for="name-input"><strong>Name</strong></label>
            <input id="name-input" type="text" name="name" value="{{room.name}}" />

            <label for="description-input"><strong>Description</strong></label>
            <input id="desription-input" type="text" name="description" value="{{room.description}}" />

            <label for="image-input"><strong>Image</strong></label>
            <input id="image-input" type="text" name="image" value="{{room.imageUrl}}" />

            <input type="submit" value="Modify!" />
        </form>
    {{/if}}
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}
</main>