<main>
    <h1>ROOM LIST</h1>
    {{#each allRooms}}
        <div>
            <div>
                <img src={{this.imageUrl}} width="400" />
                <h2>{{this.name}}</h2>
                <p>{{this.description}}</p>
                <p><em>{{this.owner.fullName}}</em></p>
                <ul>
                {{#each reviews}}
                    <li>
                        {{this.comment}} ({{this.user.fullName}})
                    </li>
                {{/each}}
                </ul>
            </div>
            <div>
                <form action="/rooms/{{this._id}}/delete" method="POST">
                    <input type="submit" value="Delete" />
                </form>
                <form action="/rooms/{{this._id}}/edit" method="GET">
                    <input type="submit" value="Edit" />
                </form>
                <form action="/rooms/{{this._id}}/addReview" method="GET">
                    <input type="submit" value="Add review" />
                </form>
            </div>
        </div>
    {{/each}}
    {{#if deleteMessage}}
        <p>{{deleteMessage}}</p>
    {{/if}}
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}
</main>